name: Build and Release Kal Firmware

on:
  push:
    tags:
      - 'v*' # Сработает, когда ты создашь тег (например, v1.0.1)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install PlatformIO
        run: |
          python -m pip install --upgrade pip
          pip install platformio

      - name: Build all environments
        run: pio run

      - name: Prepare binaries for release
        run: |
          mkdir release_files
          # Собираем бинарники из папок билда и переименовываем их красиво
          cp .pio/build/esp32dev/firmware.bin release_files/kal_esp32_generic.bin
          cp .pio/build/esp32-s3/firmware.bin release_files/kal_esp32_s3.bin
          cp .pio/build/esp32-c3/firmware.bin release_files/kal_esp32_c3.bin

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: release_files/*.bin
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}